.origin-btn{
    position: absolute;
    right: 1rem;
    bottom: 10.2rem;
}
#origin-btn{

    border: solid;
    border-color: white;
    border-width: 4px;
}

#origin-btn.active{
    border: solid;
    border-color: aqua;
    border-width: 4px;  
}
.origin-btn-icon{

    border: solid;
    border-color: black;
    border-width: 4px;
}

.origin-btn-icon.active{
    border: solid;
    border-color:#9e5a44;
    border-width: 4px;  
}

.form-container {
    position: absolute;
    z-index: 2;
    max-width: 370px;
    height: 92%;
    /* margin-top: 40px; */
    /* margin-left: 20px; */
    margin: 15px;
    padding-top: 1%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #5d86a241;
    text-align: center;
}

.TitleText {
    font-size: 19px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #b26a51, #81abc7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.SubTitleText {
    font-size: 19px;
    font-family: 'Arial', cursive;
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Text {
    font-size: 14px;
    font-family: 'Arial', cursive;
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.SelectText {
    background-color: #5d86a2;
    width: 250px;
    height: 25px;
    font-size: 15px;
    padding-left: 10px;
}

.StartButton {
    width: 20%;
    display: inline-block;
   height: 25px;
    padding: 10px 10px;
    margin: 5px;
    background-color: #b7674c;
    background: linear-gradient(45deg, #8f4d37, #355b75);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inputs {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: #b26a51;
    accent-color: #b26a51;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.container{
    display: flex;
}


html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.TitleText {
    font-size: 19px;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #b26a51, #81abc7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.SubTitleText {
    font-size: 19px;
    font-family: 'Arial', cursive;
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.Text {
    font-size: 14px;
    font-family: 'Arial', cursive;
    color: #ebebeb;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.SelectText {
    background-color: #5d86a2;
    width: 250px;
    height: 25px;
    font-size: 15px;
    padding-left: 10px;
}

.StartButton {
    width: 40%;
    display: inline-block;
    padding: 10px 10px;
    background-color: #b7674c;
    background: linear-gradient(45deg, #8f4d37, #355b75);
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.inputs {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: #b26a51;
    accent-color: #b26a51;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.esri-ui-bottom-right.esri-ui-corner{
    display: flex;
    flex-direction: column;
}

.esri-component.esri-zoom.esri-widget{
    margin-bottom: 5px;
}



/*selects on map*/
.esri-widget.esri-select.esri-component{
    min-width: 250px !important;
    width: fit-content !important;
}


.pt-2{
    padding-top: 20px;
}

.pb-2{
    padding-bottom: 20px;
}



.pt-1{
    padding-top: 5px;
}

.pb-1{
    padding-bottom: 10px;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  
  /* Three column layout */
  .side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }




  /*loader*/
  .loading {
    position: absolute;
    display: none;
    z-index: 9999;

    left: 50%;
    top:60%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* padding: 10px; */
    /* border-radius: 5px; */
  }
  
  .loading img {
    width: 25%;
    height: 25%;
  }
  
  .loading p {
    color: white;
    font-size: 14px;
  }
  
  .visible {
    display: block;
  }
  


  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
    right: 3.1rem;
    bottom: -4rem;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .hidden{
    display: none;
  }